body{
  background-color: lightblue;
  font-family: 'Montserrat', sans-serif;;
}

h1 {
    font-size: 72px; 
    color:navy;
}

h2 {
    border-radius: 5px;
    font-weight: bold;
    color: mintcream;
    background-color: navy;
    background-size: 70%;
    padding: 0px 10px;
}

div img {
  height: auto;
  max-width: 50%;
}

#cat{
  height: auto;
  max-width: 20%;
}

ul{
  background-color:cadetblue;
  border: 2px solid black;
  border-radius: 5px;
}

#topmenu{
  list-style-type: upper-roman;
}
#botmenu{
  list-style-type: circle;
}


.button{
  border-radius: 5px;
  border: 2px solid black;
  background-color:cadetblue;
  color: black;
  font-size: 18px;
  padding: 10px 24px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button:hover{
  background-color:lightcyan;
}

.education-date{
  text-decoration: underline;
}

.navlink{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

